# 0. 라이브러리 임포트

In [1]:
import numpy
import pandas

# 1. 2022/12/29 일자의 KOSPI 종목 정보

In [2]:
df_kospi_info = pandas.read_csv('data-0101-info.csv', dtype={'Code': object})
df_kospi_info = df_kospi_info[['Code', 'Name', 'Marcap']]
df_kospi_info['종목코드'] = 'A' + df_kospi_info['Code']
df_kospi_info = df_kospi_info[['종목코드', 'Name', 'Marcap']]
df_kospi_info.columns = ['종목코드', '종목명', '시가총액']
df_kospi_info = df_kospi_info.set_index(['종목코드'])
display(df_kospi_info)
print(df_kospi_info.head(30))

              종목명          시가총액
종목코드
A005930      삼성전자  3.301290e+14
A373220  LG에너지솔루션  1.019070e+14
A207940  삼성바이오로직스  5.843385e+13
A000660    SK하이닉스  5.460018e+13
A051910      LG화학  4.235541e+13
...           ...           ...
A002785    진흥기업우B  4.230371e+09
A001525       동양우  3.947301e+09
A001527     동양2우B  3.887969e+09
A002787   진흥기업2우B  3.832504e+09
A000547   흥국화재2우B  2.488320e+09

[943 rows x 2 columns]

              종목명          시가총액
종목코드
A005930      삼성전자  3.301290e+14
A373220  LG에너지솔루션  1.019070e+14
A207940  삼성바이오로직스  5.843385e+13
A000660    SK하이닉스  5.460018e+13
A051910      LG화학  4.235541e+13
A005935     삼성전자우  4.155578e+13
A006400     삼성SDI  4.063984e+13
A005380       현대차  3.226390e+13
A035420     NAVER  2.911871e+13
A000270        기아  2.403805e+13
A035720       카카오  2.365129e+13
A005490  POSCO홀딩스  2.338395e+13
A068270      셀트리온  2.259924e+13
A028260      삼성물산  2.121168e+13
A105560      KB금융  1.983151e+13
A012330     현대모비스  1.890416e+13
A055550      신한지주  1.790923e+13
A096770   SK이노베이션  1.423970e+13
A032830      삼성생명  1.420000e+13
A066570      LG전자  1.415554e+13
A034730        SK  1.401422e+13
A015760      한국전력  1.399482e+13
A003670    포스코케미칼  1.394338e+13
A033780      KT&G  1.256226e+13
A086790    하나금융지주  1.244274e+13
A003550        LG  1.228521e+13
A323410     카카오뱅크  1.158439e+13
A051900    LG생활건강  1.127634e+13
A010130      고려아연  1.120282e+13
A017670     SK텔레콤  1.037269e+13

# 2. KOSPI 지수 정보

In [3]:
df_kospi_index = pandas.read_csv('data-0102-kospi.csv')
df_kospi_index = df_kospi_index[['eod_date', 'price_close']]
df_kospi_index.columns = ['기준일자', 'KOSPI지수-종가']
df_kospi_index = df_kospi_index.set_index(['기준일자'])
display(df_kospi_index)

          KOSPI지수-종가
기준일자
20010102      520.95
20010103      521.43
20010104      558.02
20010105      580.85
20010108      586.65
...              ...
20221223     2313.69
20221226     2317.14
20221227     2332.79
20221228     2280.45
20221229     2236.40

[5437 rows x 1 columns]

# 3. 가격/거래 정보

In [4]:
df_prices = pandas.read_csv('data-0103-prices.csv.gz', compression='zip')
df_prices.rename(columns={'eod_date': '기준일자'}, inplace=True)
df_prices = df_prices.set_index(['기준일자'])
display(df_prices)

,A005930-price_open,A005930-price_high,A005930-price_low,A005930-price_close,A005930-trade_count,A373220-price_open,A373220-price_high,A373220-price_low,A373220-price_close,A373220-trade_count,...,A001527-price_open,A001527-price_high,A001527-price_low,A001527-price_close,A001527-trade_count,A002787-price_open,A002787-price_high,A002787-price_low,A002787-price_close,A002787-trade_count
기준일자,,,,,,,,,,,,,,,,,,,,,
20010102,3160.0,3380.0,3140.0,3350.0,789127.0,NaN,NaN,NaN,NaN,NaN,...,12164.0,14104.0,12164.0,13679.0,107830.0,NaN,NaN,NaN,NaN,NaN
20010103,3229.0,3420.0,3220.0,3370.0,757143.0,NaN,NaN,NaN,NaN,NaN,...,13626.0,14052.0,12873.0,13627.0,35860.0,NaN,NaN,NaN,NaN,NaN
20010104,3790.0,3870.0,3660.0,3780.0,2398248.0,NaN,NaN,NaN,NaN,NaN,...,14084.0,14193.0,13658.0,14203.0,61480.0,NaN,NaN,NaN,NaN,NaN
20010105,3760.0,3920.0,3700.0,3900.0,1562744.0,NaN,NaN,NaN,NaN,NaN,...,14126.0,15957.0,13690.0,14780.0,80610.0,NaN,NaN,NaN,NaN,NaN
20010108,3820.0,3910.0,3780.0,3880.0,845911.0,NaN,NaN,NaN,NaN,NaN,...,15003.0,15429.0,14251.0,14360.0,33610.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221223,58200.0,58400.0,57700.0,58100.0,9829407.0,464000.0,465500.0,455000.0,455500.0,287228.0,...,12800.0,12900.0,12650.0,12700.0,6389.0,13000.0,13000.0,12900.0,13000.0,1407.0
20221226,58000.0,58100.0,57700.0,57900.0,6756411.0,454000.0,459500.0,454000.0,457500.0,149013.0,...,12850.0,12850.0,12700.0,12700.0,3174.0,13000.0,13000.0,12900.0,13000.0,1622.0
20221227,58000.0,58400.0,57900.0,58100.0,10667027.0,457500.0,460000.0,449500.0,457000.0,231365.0,...,12700.0,13200.0,12700.0,13200.0,2449.0,13000.0,13000.0,12850.0,13000.0,303.0
20221228,57600.0,57600.0,56400.0,56600.0,14665410.0,450500.0,450500.0,432500.0,436500.0,446129.0,...,13050.0,13100.0,12800.0,12900.0,1432.0,12800.0,12900.0,12750.0,12900.0,771.0
20221229,56000.0,56200.0,55300.0,55300.0,11295935.0,435500.0,442500.0,432500.0,435500.0,265226.0,...,13800.0,13800.0,12600.0,12600.0,1823.0,12700.0,13000.0,12700.0,13000.0,185.0

# 4. 상위 30개 종목 검토

### 4.1. 상위 30개 종목 데이터 시가/종가 추출

In [5]:
list_top_30 = df_kospi_info.head(30).index.tolist()

set_cols = set(list(df_prices.columns))
list_new = list()
for equity_code in list_top_30:
    if equity_code + '-price_open' in set_cols:
        list_new.append(equity_code + '-price_open')
    if equity_code + '-price_close' in set_cols:
        list_new.append(equity_code + '-price_close')
df_top30 = df_prices[list_new]
display(df_top30)

,A005930-price_open,A005930-price_close,A373220-price_open,A373220-price_close,A207940-price_open,A207940-price_close,A000660-price_open,A000660-price_close,A051910-price_open,A051910-price_close,...,A003550-price_open,A003550-price_close,A323410-price_open,A323410-price_close,A051900-price_open,A051900-price_close,A010130-price_open,A010130-price_close,A017670-price_open,A017670-price_close
기준일자,,,,,,,,,,,,,,,,,,,,,
20010102,3160.0,3350.0,NaN,NaN,NaN,NaN,76556.0,89118.0,NaN,NaN,...,12899.0,13017.0,NaN,NaN,NaN,NaN,11500.0,11600.0,43651.0,44946.0
20010103,3229.0,3370.0,NaN,NaN,NaN,NaN,86174.0,89511.0,NaN,NaN,...,12899.0,13603.0,NaN,NaN,NaN,NaN,11500.0,11500.0,43996.0,44342.0
20010104,3790.0,3780.0,NaN,NaN,NaN,NaN,102859.0,102859.0,NaN,NaN,...,14600.0,14659.0,NaN,NaN,NaN,NaN,12000.0,11850.0,49517.0,46757.0
20010105,3760.0,3900.0,NaN,NaN,NaN,NaN,105019.0,118170.0,NaN,NaN,...,14190.0,15831.0,NaN,NaN,NaN,NaN,12400.0,11900.0,47965.0,49087.0
20010108,3820.0,3880.0,NaN,NaN,NaN,NaN,117778.0,120525.0,NaN,NaN,...,15596.0,16066.0,NaN,NaN,NaN,NaN,12100.0,11900.0,48310.0,49518.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221223,58200.0,58100.0,464000.0,455500.0,815000.0,806000.0,77800.0,77800.0,619000.0,610000.0,...,80500.0,82100.0,26000.0,25100.0,700000.0,705000.0,575000.0,571000.0,48750.0,49000.0
20221226,58000.0,57900.0,454000.0,457500.0,808000.0,822000.0,77700.0,77000.0,604000.0,618000.0,...,81500.0,81400.0,25300.0,25100.0,703000.0,697000.0,571000.0,564000.0,49100.0,49250.0
20221227,58000.0,58100.0,457500.0,457000.0,826000.0,828000.0,77500.0,77000.0,624000.0,628000.0,...,82700.0,81900.0,25100.0,25800.0,705000.0,723000.0,564000.0,565000.0,49350.0,49300.0
20221228,57600.0,56600.0,450500.0,436500.0,821000.0,830000.0,76800.0,76000.0,614000.0,602000.0,...,80000.0,79500.0,25500.0,25050.0,723000.0,739000.0,554000.0,575000.0,48500.0,48200.0
20221229,56000.0,55300.0,435500.0,435500.0,822000.0,821000.0,75200.0,75000.0,597000.0,600000.0,...,78100.0,78100.0,24850.0,24300.0,733000.0,722000.0,567000.0,564000.0,48150.0,47400.0

### 4.2. 데이터 시작지점 확인

In [6]:
list_start = list()
for col_name in df_top30.columns:
    if 'price_open' in col_name:
        continue
    df_part = df_top30[col_name]
    df_part = df_part.dropna()
    list_start.append({
        '종목코드': col_name.replace('-price_close', ''),
        '시작일자': numpy.min(df_part.index),
    })
df_check_start = pandas.DataFrame(list_start)
df_check_start = df_check_start.set_index(['종목코드'])
df_kospi_info_days = df_check_start.join(df_kospi_info, how='left')
display(df_kospi_info_days)

             시작일자       종목명          시가총액
종목코드
A005930  20010102      삼성전자  3.301290e+14
A373220  20220127  LG에너지솔루션  1.019070e+14
A207940  20161110  삼성바이오로직스  5.843385e+13
A000660  20010102    SK하이닉스  5.460018e+13
A051910  20010425      LG화학  4.235541e+13
A005935  20010102     삼성전자우  4.155578e+13
A006400  20010102     삼성SDI  4.063984e+13
A005380  20010102       현대차  3.226390e+13
A035420  20021029     NAVER  2.911871e+13
A000270  20010102        기아  2.403805e+13
A035720  20010102       카카오  2.365129e+13
A005490  20010102  POSCO홀딩스  2.338395e+13
A068270  20050719      셀트리온  2.259924e+13
A028260  20141218      삼성물산  2.121168e+13
A105560  20081010      KB금융  1.983151e+13
A012330  20010102     현대모비스  1.890416e+13
A055550  20010910      신한지주  1.790923e+13
A096770  20070725   SK이노베이션  1.423970e+13
A032830  20100512      삼성생명  1.420000e+13
A066570  20020422      LG전자  1.415554e+13
A034730  20091111        SK  1.401422e+13
A015760  20010102      한국전력  1.399482e+13
A003670  20011101    포스코케미칼  1.394338e+13
A033780  20010102      KT&G  1.256226e+13
A086790  20051212    하나금융지주  1.244274e+13
A003550  20010102        LG  1.228521e+13
A323410  20210806     카카오뱅크  1.158439e+13
A051900  20010425    LG생활건강  1.127634e+13
A010130  20010102      고려아연  1.120282e+13
A017670  20010102     SK텔레콤  1.037269e+13

### 4.3. 2001/01/02 부터 데이터가 존재하는 종목만 선택

In [7]:
df_kospi_info_days = df_kospi_info_days[df_kospi_info_days['시작일자'] == 20010102]
print(df_kospi_info_days.shape)
display(df_kospi_info_days)

(14, 3)

             시작일자       종목명          시가총액
종목코드
A005930  20010102      삼성전자  3.301290e+14
A000660  20010102    SK하이닉스  5.460018e+13
A005935  20010102     삼성전자우  4.155578e+13
A006400  20010102     삼성SDI  4.063984e+13
A005380  20010102       현대차  3.226390e+13
A000270  20010102        기아  2.403805e+13
A035720  20010102       카카오  2.365129e+13
A005490  20010102  POSCO홀딩스  2.338395e+13
A012330  20010102     현대모비스  1.890416e+13
A015760  20010102      한국전력  1.399482e+13
A033780  20010102      KT&G  1.256226e+13
A003550  20010102        LG  1.228521e+13
A010130  20010102      고려아연  1.120282e+13
A017670  20010102     SK텔레콤  1.037269e+13

### 4.4. 삼성전자우 와 삼성전자는 동일회사이므로 제외

In [8]:
df_kospi_info_days = df_kospi_info_days[df_kospi_info_days['종목명'] != '삼성전자우']
print(df_kospi_info_days.shape)
display(df_kospi_info_days)

(13, 3)

             시작일자       종목명          시가총액
종목코드
A005930  20010102      삼성전자  3.301290e+14
A000660  20010102    SK하이닉스  5.460018e+13
A006400  20010102     삼성SDI  4.063984e+13
A005380  20010102       현대차  3.226390e+13
A000270  20010102        기아  2.403805e+13
A035720  20010102       카카오  2.365129e+13
A005490  20010102  POSCO홀딩스  2.338395e+13
A012330  20010102     현대모비스  1.890416e+13
A015760  20010102      한국전력  1.399482e+13
A033780  20010102      KT&G  1.256226e+13
A003550  20010102        LG  1.228521e+13
A010130  20010102      고려아연  1.120282e+13
A017670  20010102     SK텔레콤  1.037269e+13

### 4.5. 카카오는 테스트 기간 중 우회 상장으로인해 기업가치가 연속적이지 않으므로 제외

In [9]:
df_kospi_info_days = df_kospi_info_days[df_kospi_info_days['종목명'] != '카카오']
print(df_kospi_info_days.shape)
display(df_kospi_info_days)

(12, 3)

             시작일자       종목명          시가총액
종목코드
A005930  20010102      삼성전자  3.301290e+14
A000660  20010102    SK하이닉스  5.460018e+13
A006400  20010102     삼성SDI  4.063984e+13
A005380  20010102       현대차  3.226390e+13
A000270  20010102        기아  2.403805e+13
A005490  20010102  POSCO홀딩스  2.338395e+13
A012330  20010102     현대모비스  1.890416e+13
A015760  20010102      한국전력  1.399482e+13
A033780  20010102      KT&G  1.256226e+13
A003550  20010102        LG  1.228521e+13
A010130  20010102      고려아연  1.120282e+13
A017670  20010102     SK텔레콤  1.037269e+13

### 4.6. 최종적으로 상위 10개 종목 선택

In [11]:
df_kospi_info_days = df_kospi_info_days.head(10)
print(df_kospi_info_days.shape)
display(df_kospi_info_days)

(10, 3)

             시작일자       종목명          시가총액
종목코드
A005930  20010102      삼성전자  3.301290e+14
A000660  20010102    SK하이닉스  5.460018e+13
A006400  20010102     삼성SDI  4.063984e+13
A005380  20010102       현대차  3.226390e+13
A000270  20010102        기아  2.403805e+13
A005490  20010102  POSCO홀딩스  2.338395e+13
A012330  20010102     현대모비스  1.890416e+13
A015760  20010102      한국전력  1.399482e+13
A033780  20010102      KT&G  1.256226e+13
A003550  20010102        LG  1.228521e+13

# 5. 선택 종목과 코스피지수 가격 정보 설정

### 5.1. 코스피지수 설정

In [20]:
df_base = df_kospi_index.copy()
print(df_base.shape)
display(df_base)

(5437, 1)

          KOSPI지수-종가
기준일자
20010102      520.95
20010103      521.43
20010104      558.02
20010105      580.85
20010108      586.65
...              ...
20221223     2313.69
20221226     2317.14
20221227     2332.79
20221228     2280.45
20221229     2236.40

[5437 rows x 1 columns]

### 5.2. 선택 종목에 대한 시가/종가 정보 설정

In [19]:
df_info = df_kospi_info_days[['종목명']]
display(df_info)

list_cols = list()
list_cols_new = list()
for equity_code, row in df_info.iterrows():
    list_cols.append(equity_code + '-price_open')
    list_cols.append(equity_code + '-price_close')
    list_cols_new.append(equity_code + '-' + row['종목명'] + '-시가')
    list_cols_new.append(equity_code + '-' + row['종목명'] + '-종가')

df_selected = df_prices[list_cols]
df_selected.columns = list_cols_new
display(df_selected)

              종목명
종목코드
A005930      삼성전자
A000660    SK하이닉스
A006400     삼성SDI
A005380       현대차
A000270        기아
A005490  POSCO홀딩스
A012330     현대모비스
A015760      한국전력
A033780      KT&G
A003550        LG

,A005930-삼성전자-시가,A005930-삼성전자-종가,A000660-SK하이닉스-시가,A000660-SK하이닉스-종가,A006400-삼성SDI-시가,A006400-삼성SDI-종가,A005380-현대차-시가,A005380-현대차-종가,A000270-기아-시가,A000270-기아-종가,A005490-POSCO홀딩스-시가,A005490-POSCO홀딩스-종가,A012330-현대모비스-시가,A012330-현대모비스-종가,A015760-한국전력-시가,A015760-한국전력-종가,A033780-KT&G-시가,A033780-KT&G-종가,A003550-LG-시가,A003550-LG-종가
기준일자,,,,,,,,,,,,,,,,,,,,
20010102,3160.0,3350.0,76556.0,89118.0,47500.0,47500.0,11900.0,11700.0,7280.0,6800.0,76000.0,76500.0,4500.0,4495.0,24000.0,24300.0,18200.0,18200.0,12899.0,13017.0
20010103,3229.0,3370.0,86174.0,89511.0,47100.0,47600.0,11500.0,11900.0,6800.0,6680.0,76200.0,77300.0,4520.0,4440.0,23900.0,23900.0,18200.0,18000.0,12899.0,13603.0
20010104,3790.0,3780.0,102859.0,102859.0,50400.0,49400.0,12900.0,12750.0,6680.0,6900.0,88000.0,83500.0,4600.0,4500.0,25000.0,25050.0,18400.0,18050.0,14600.0,14659.0
20010105,3760.0,3900.0,105019.0,118170.0,49400.0,51500.0,13200.0,13650.0,6900.0,6900.0,83500.0,86500.0,4505.0,4720.0,25050.0,26000.0,18050.0,17600.0,14190.0,15831.0
20010108,3820.0,3880.0,117778.0,120525.0,50900.0,51500.0,13400.0,14150.0,6900.0,7140.0,84000.0,86200.0,4560.0,4720.0,25650.0,25850.0,17700.0,17750.0,15596.0,16066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221223,58200.0,58100.0,77800.0,77800.0,626000.0,622000.0,157000.0,157000.0,62600.0,62700.0,285000.0,288500.0,206000.0,206500.0,21600.0,21900.0,97000.0,96400.0,80500.0,82100.0
20221226,58000.0,57900.0,77700.0,77000.0,618000.0,624000.0,157000.0,158000.0,63100.0,63700.0,289500.0,292000.0,206000.0,209500.0,22000.0,21700.0,96000.0,95400.0,81500.0,81400.0
20221227,58000.0,58100.0,77500.0,77000.0,628000.0,624000.0,158500.0,158000.0,64000.0,64100.0,293000.0,292000.0,210000.0,210000.0,21750.0,21500.0,95800.0,95100.0,82700.0,81900.0
20221228,57600.0,56600.0,76800.0,76000.0,617000.0,603000.0,156000.0,154000.0,62100.0,60900.0,290500.0,291000.0,206500.0,207000.0,21700.0,22450.0,90200.0,91400.0,80000.0,79500.0
20221229,56000.0,55300.0,75200.0,75000.0,604000.0,591000.0,153000.0,151000.0,60500.0,59300.0,288500.0,276500.0,205000.0,200500.0,22300.0,21800.0,90500.0,91500.0,78100.0,78100.0

### 5.3. 최종 기초 데이터 생성

In [21]:
df_base = df_base.join(df_selected, how='left')
print(df_base.shape)
display(df_base)

(5437, 21)

,KOSPI지수-종가,A005930-삼성전자-시가,A005930-삼성전자-종가,A000660-SK하이닉스-시가,A000660-SK하이닉스-종가,A006400-삼성SDI-시가,A006400-삼성SDI-종가,A005380-현대차-시가,A005380-현대차-종가,A000270-기아-시가,...,A005490-POSCO홀딩스-시가,A005490-POSCO홀딩스-종가,A012330-현대모비스-시가,A012330-현대모비스-종가,A015760-한국전력-시가,A015760-한국전력-종가,A033780-KT&G-시가,A033780-KT&G-종가,A003550-LG-시가,A003550-LG-종가
기준일자,,,,,,,,,,,,,,,,,,,,,
20010102,520.95,3160.0,3350.0,76556.0,89118.0,47500.0,47500.0,11900.0,11700.0,7280.0,...,76000.0,76500.0,4500.0,4495.0,24000.0,24300.0,18200.0,18200.0,12899.0,13017.0
20010103,521.43,3229.0,3370.0,86174.0,89511.0,47100.0,47600.0,11500.0,11900.0,6800.0,...,76200.0,77300.0,4520.0,4440.0,23900.0,23900.0,18200.0,18000.0,12899.0,13603.0
20010104,558.02,3790.0,3780.0,102859.0,102859.0,50400.0,49400.0,12900.0,12750.0,6680.0,...,88000.0,83500.0,4600.0,4500.0,25000.0,25050.0,18400.0,18050.0,14600.0,14659.0
20010105,580.85,3760.0,3900.0,105019.0,118170.0,49400.0,51500.0,13200.0,13650.0,6900.0,...,83500.0,86500.0,4505.0,4720.0,25050.0,26000.0,18050.0,17600.0,14190.0,15831.0
20010108,586.65,3820.0,3880.0,117778.0,120525.0,50900.0,51500.0,13400.0,14150.0,6900.0,...,84000.0,86200.0,4560.0,4720.0,25650.0,25850.0,17700.0,17750.0,15596.0,16066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221223,2313.69,58200.0,58100.0,77800.0,77800.0,626000.0,622000.0,157000.0,157000.0,62600.0,...,285000.0,288500.0,206000.0,206500.0,21600.0,21900.0,97000.0,96400.0,80500.0,82100.0
20221226,2317.14,58000.0,57900.0,77700.0,77000.0,618000.0,624000.0,157000.0,158000.0,63100.0,...,289500.0,292000.0,206000.0,209500.0,22000.0,21700.0,96000.0,95400.0,81500.0,81400.0
20221227,2332.79,58000.0,58100.0,77500.0,77000.0,628000.0,624000.0,158500.0,158000.0,64000.0,...,293000.0,292000.0,210000.0,210000.0,21750.0,21500.0,95800.0,95100.0,82700.0,81900.0
20221228,2280.45,57600.0,56600.0,76800.0,76000.0,617000.0,603000.0,156000.0,154000.0,62100.0,...,290500.0,291000.0,206500.0,207000.0,21700.0,22450.0,90200.0,91400.0,80000.0,79500.0
20221229,2236.40,56000.0,55300.0,75200.0,75000.0,604000.0,591000.0,153000.0,151000.0,60500.0,...,288500.0,276500.0,205000.0,200500.0,22300.0,21800.0,90500.0,91500.0,78100.0,78100.0

In [22]:
df_base.to_csv('data-0201-base.csv')